  <main role="main" class="inner cover">
    <h1 class="cover-heading">Bem vindo!</h1>
    <p class="lead">Precisando de um impulso para se tonar competitivo no mercado?</p>
    <p class="lead">
      <a> <%= link_to 'Registre-se', new_requester_path, class: 'btn btn-lg btn-secondary' %> </a>
    </p>
  </main>